<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 text-center">
                <img src="img/apu-default.png" style="display:flex;flex-wrap: nowrap;width: 100%;border-radius: 16px;">
            </div>
            <div class="col-md-9 col-lg-9 text-center">
                <h2 class="section-heading">about</h2>
                <hr class="light">
                <p>Low on Funds, High on Vibes. Apu is here to unite all frens on the blockchain</p>
                <p>Tired of doge puns and endless moon talk?  Apu Apustaja says "same, bro".  This ain't your grandma's memecoin drama. This is a full-on YOLO mission to the top of the meme charts.</p>
                <p>Why Apu?  Because "it ain't much, but it's honest work" and that's exactly what this coin is all about.  Grinding  our way to the top with the power of  our number go up technology (don't ask us how it works, it just does).</p>
                <p>Don't be a FOMO  noob.  Ape now and think later. Get in on the ground floor before Apu says  "it's morbin' time!”</p>
                <p>P.S. We're using Solana because, well, it's fast and cheap to use.. (yeah, looking at you Ethereum)</p>
                <p>P.P.S. DYOR (do your own research) but seriously, this is now a 100% community project that is about to become so viral your mom will share it on Facebook and you can do nothing about it.</p>
            </div>
        </div>
    </div>
</section>
