<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p>About section for the APU meme token</p>
                <a href="https://raydium.io/swap/?outputCurrency=ECutGg12PNhqhkvnH1s1FcuXgCDzKDNhSf5aLtANioR7" class="btn btn-default btn-xl">Get $APU now!</a>
            </div>
        </div>
    </div>
</section>
