<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 text-center">
                <img src="https://i.kym-cdn.com/entries/icons/original/000/021/523/apu_apustaja_kym.png" style="display:flex;flex-wrap: nowrap;width: 100%;border-radius: 16px;">
            </div>
            <div class="col-md-9 col-lg-9 text-center">
                <h2 class="section-heading">about</h2>
                <hr class="light">
                <p>Apu, also known as Peepo or Helper, is a pepe-variant that is used to represent a much younger, kinder and more naive anthropomorphic frog.</p>
                <p>Fed up with low-effort memecoins, more often than not led by deceptive developers, Apu decided to create his own fairly launched, fully transparent coin: $APU – the one and only coin for all frens.</p>
                <p>Having already conquered the internet and the hearts of millions of people, Apu is now on his way to conquer the cryptosphere. If you consider yourself a fren, feel free to join us on this amazing ride to the only place where a character like Apu belongs to: the moon.</p>
            </div>
        </div>
    </div>
</section>
