<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>APU APUSTAJA / SOL</h1>
            <hr>
            <p>APU is a muuvement to unite everyone in crypto. Backed by number go up technology, the bull we know and love is here to lead the charge. Launched with the starting supply of the U.S. dollar, mutoshi and his delinquents are on a mission to dethrone the establishment and forge the ultimate decentralized currency. Join the stampede today.</p>
            <a href="https://raydium.io/swap/?outputCurrency=ECutGg12PNhqhkvnH1s1FcuXgCDzKDNhSf5aLtANioR7" class="btn btn-primary btn-xl page-scroll">Buy $APU</a>
        </div>
    </div>
</header>
