<section class="bg-dark" id="howtobuy">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">HOW DO I BUY $APU?</h2>
                <hr class="light">
                <ul class="text-left">
                    <ol class="sc-2d10b3ee-4 kTQMip">1. Convert some money into Solana ($SOL) through a centralized exchange like Binance or Coinbase.</ol>
                    <ol class="sc-2d10b3ee-4 kTQMip">2. Create a brand new wallet with <a href="https://phantom.app/" target="_blank">Phantom App</a>, keep your seed phrase safe, write it down on a piece of paper you can keep safety!</ol>
                    <ol class="sc-2d10b3ee-4 kTQMip">3. Copy the Solana wallet address and send some Solana from your exchange account to your phantom wallet address.</ol>
                    <ol class="sc-2d10b3ee-4 kTQMip">4. Now visit an exchange platform such as <a href="https://raydium.io" target="_blank">Raydium</a> (via our buy button if you're having trouble) and head over to 'Swap.' Connect your phantom wallet when prompted.</ol>
                    <ol class="sc-2d10b3ee-4 kTQMip">5. Swap the Solana in your wallet for APU, you can find APU as an option by pasting in the contract address below:<br><label class="sc-2d10b3ee-5 eIqsTu">ECutGg12PNhqhkvnH1s1FcuXgCDzKDNhSf5aLtANioR7</label></ol>
                </ul>
                <h2 class="text-faded">Congratulations, you are now a future MULLIONAIRE.</h2>
                <a href="https://raydium.io/swap/?outputCurrency=ECutGg12PNhqhkvnH1s1FcuXgCDzKDNhSf5aLtANioR7" class="btn btn-default btn-xl">Get $APU now!</a>
            </div>
        </div>
    </div>
</section>
