<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="img/logo.png" style="height: 48px;float: left;margin-top: -13px;border-radius:24px;">
                <span>Apu Apustaja / SOL</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#home">home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">about</a>
                </li>
                <li>
                    <a class="page-scroll" href="#howtobuy">how to buy</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">tokenomics</a>
                </li>
                <li>
                    <a class="page-scroll" href="#roadmap">roadmap</a>
                </li>
                <li>
                    <a href="https://raydium.io/swap/?outputCurrency=ECutGg12PNhqhkvnH1s1FcuXgCDzKDNhSf5aLtANioR7" class="btn btn-primary btn-xl page-scroll">Buy $APU</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
