<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="img/logo.png" class="logo-img">
                <span>APU APUSTAJA</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#home">home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">about</a>
                </li>
                <li>
                    <a class="page-scroll" href="#howtobuy">how to buy</a>
                </li>
                <li>
                    <a class="page-scroll" href="#tokenomics">tokenomics</a>
                </li>
                <li>
                    <a class="page-scroll" href="#roadmap">roadmap</a>
                </li>
                <btn>
                    <a href="https://jup.ag/swap/SOL-APU_ECutGg12PNhqhkvnH1s1FcuXgCDzKDNhSf5aLtANioR7" class="btn btn-primary page-scroll" style="box-shadow:unset">buy $APU</a>
                </btn>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
