<section class="bg-dark" id="roadmap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Roadmap</h2>
                <hr class="light">
                <h3>Phase One</h3>
                <ul class="text-left">
                    <ol>1. Launch</ol>
                    <ol>2. Dev Rug</ol>
                    <ol>3. Community Takeover</ol>
                    <ol>4. New website and socials</ol>
                    <ol>5. Implement number go up technology</ol>
                </ul>
                <h3>Phase Two</h3>
                <ul class="text-left">
                    <ol>1. Unite all frens</ol>
                    <ol>2. Make memes</ol>
                    <ol>3. Enjoy life</ol>
                </ul>
                <h3>Phase Three</h3>
                <ul class="text-left">
                    <ol>Top SOL memecoin</ol>
                </ul>
            </div>
        </div>
    </div>
</section>
