<section class="bg-dark" id="roadmap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">roadmap</h2>
                <hr class="light">
                <div class="col-lg-4">
                    <h3>Phase One</h3>
                    <ul class="text-left">
                        <ol>✅ Launch</ol>
                        <ol>✅ Dev Rug</ol>
                        <ol>✅ Community Takeover</ol>
                        <ol>✅ New website and socials</ol>
                        <ol>◘ Implement number go up technology</ol>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Phase Two</h3>
                    <ul class="text-left">
                        <ol>◘ Unite all frens</ol>
                        <ol>◘ Make memes</ol>
                        <ol>◘ Enjoy life</ol>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Phase Three</h3>
                    <ul class="text-left">
                        <ol>Top SOL memecoin</ol>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
