<section class="bg-primary" id="tokenomics">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">tokenomics</h2>
                <hr class="light">
                <h3>token supply:</h3>
                <h1>1,000,000,000</h1>
                <h4><i class="fa-solid fa-fire-flame"></i>LP burnt</h4>
                <h4>ownership renonced</h4>
                <h4>0% tax</h4>
            </div>
        </div>
    </div>
</section>
